* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    position: relative;
}

.nav ul li a {
    color: black;
    font-size: 18px;
    font-family: Monserrat;
}

a {
    text-decoration: none;
    color: black;
    font-size: 17px;
}

section {
    padding: 64px 128px;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 128px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 5;
}

#landing {
    display: flex;
    padding-top: 70px;
    align-items: center;
}

.title {
    font-size: 53px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.desc {
    font-size: 27px;
    color: grey;
    font-family: sans-serif;
}

#landing img, #About img {
    width: 47%;
}

.btn-container {
    margin-top: 25px;
}

.btn {
    padding: 0.3em 1.4em;
    font-size: 1.3em;
    border: skyblue solid 2px;
    background-color: skyblue;
    color: white;
    box-sizing: border-box;
    text-decoration: none;
}

.btn-alt {
    background-color: white;
    color: black;
    margin-right: 10px;
}

#About{
    display: flex;
}

.about-desc{
    box-sizing: border-box;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.about-desc .title{
    margin: 20px 0;
}

.about-desc .desc{
    font-size: 28px;
}
#About table{
    width: 100%;
    text-align: center;
    margin-top: 40px;
}

.data{
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.line{
    position: relative;
    width: 50px;
    background-color: skyblue;
    height: 10px;
    margin: 15px auto;
}

#service-header{
    display: flex;
    justify-content: space-between;
}

#service-btn{
    display: flex;
    align-items: center;
}

.card-container {
    margin-top: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.card {
    width: calc(100%/4);
    height: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
}

.card-desc {
    padding: 10px;
}

.card-desc h3 {
    margin: 12px 0;
    font-family: 'Ubuntu', sans-serif;
}

#Contact p.desc{
    margin: 25px 0;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.form{
    border: skyblue solid 1px;
    width: 48%;
}

form h2.title {
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    margin: 50px 0 30px;
}

form label{
    padding: 5px 0;
    display: block;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.input-container {
    display: flex;
}

.input-box {
    padding: 0 10px 20px 30px;
}

.form input {
    border-style: none;
    border-bottom: #000 solid 1px;
    height: 30px;
    width: 231px;
    font-size: 18px;
    padding: 3px 7px;
}

#message{
    width: 107%;
}

#submit {
    margin-left: 5%;
    width: 90.5%;
    background-color: skyblue;
    color: #fff;
    border: none;
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
    padding: 5px 0;
}

.maps {
    width: 40%
}

footer {
    background-color: skyblue;
    padding: 60px 130px;
    display: flex;
    justify-content: space-between;
    color: white
}

.footer-text h2 {
    font-family: 'Ubuntu', sans-serif; ;
    font-size: 40px;
    margin-bottom: 10px;
}

footer p {
    font-size: 23px;
    font-family: 'Ubuntu', sans-serif;
    width: 50%;
    margin-bottom: 5px;
}

.icon {
    display: flex;
    align-items: center;
}

.icon a {
    padding: 10px;
}