
h1 {
    font-weight: 700;
    font-size: 45px;
    margin: 0 0 16px 0;
}
a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}
p {
    color:black;
    margin: 0 0 16px 0;
    font-size: 20px;
}
section {
    padding: 64px 128px;
}
}
btn {
    background-color: pink;
    color: white;
    padding: 8px 24px;
}
.btn-alt {
    background-color: pink;
    color: black;
    padding: 8px;
    border: 2px solid black;
    margin-right: 16px;
}
nav > a {
    margin-left: 12px;
}

