* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    position: relative;
}

.nav ul li a {
    color: black;
    font-size: 18px;
    font-family: Monserrat;
}

a {
    text-decoration: none;
    color: black;
    font-size: 17px;
}

section {
    padding: 64px 128px;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 128px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 5;
}

#landing {
    display: flex;
    padding-top: 70px;
    align-items: center;
}

.title {
    font-size: 53px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.desc {
    font-size: 30px;
    color: grey;
}

#landing img {
    width: 48%;
}

.btn-container {
    margin-top: 25px;
}

.btn {
    padding: 0.3em 1.2em;
    font-size: 1.3em;
    border: skyblue solid 2px;
    background-color: skyblue;
    color: white;
    box-sizing: border-box;
    text-decoration: none;
}

.btn-alt {
    background-color: white;
    color: black;
    margin-right: 10px;
}